:root {
    --primary-color: rgb(2, 132, 199);
    --primary-color-t: rgba(2, 132, 199, 0.7);
    --secondary-color: rgb(156, 163, 175);
    --tertiary-color: rgb(240, 249, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    min-height: 100vh;
}

header {
    padding: 0 1.5rem;
    min-height: 50vh;
    background-color: var(--secondary-color);
    overflow: hidden;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

a {
  text-decoration: none;
  color: black;
}

a.btn {
    align-self: flex-start;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    text-align: center;
    border-radius: 0.5rem;
    font-weight: 600;
}

i {
  font-size: 2.5rem;
}

span.emphasis {
  border-bottom: 0.5rem solid var(--primary-color-t);
}


.container {
    max-width: 1200px;
  }

.nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.nav li {
    list-style: none;
}

.nav a {
    color: var(--tertiary-color);
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: 600;
    padding: 0.5rem;
}

.hero {
    display: flex;
    align-items: center;
}

.hero img {
  min-width: 176px;
  max-width: 55%;
}

.hero .left {
  line-height: 1.5;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

section {
  padding: 1rem 0;
}

section .content {
  padding: 1.5rem 0;
}

#about p {
  line-height: 1.5;
  font-size: 1.5rem;
}

.logos {
  overflow: hidden;
  padding: 1.5rem 0;
  white-space: nowrap;
  display: flex;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 2rem;
  height: 100%;
  content: '';
  z-index: 2;
}

.logos:before {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  left: 0;
}

.logos:after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  right: 0;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  min-width: 200%;
  animation: slide 60s linear infinite;
}

.logos-slide img {
  height: 32px;
  margin: 0 1.5rem;
}


.project {
  min-height: 50vh;
}

.mockup {
  position: relative;
  height: 75vh;
  background-color: var(--tertiary-color);
}

.icon-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.project-links {
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-links a {
  font-size: 3.5rem;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.mockup:hover .project-links {
  opacity: 1;
}

.project .description {
  padding: 1.5rem 0;
}

.description p {
  margin-top: 1rem;
}

.description .tech-stack {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
