:root {
    --sky-100: rgb(224, 242, 254);
    --sky-200: rgb(186, 230, 253);
    --sky-300: rgb(125, 211, 252);
    --sky-400: rgb(56, 189, 248);
    --sky-400-50t: rgba(56, 189, 248, 0.5);
    --sky-500: rgb(14, 165, 233);
    --sky-600: rgb(2, 132, 199);
    --sky-700: rgb(7, 89, 133);

    --blue-50: rgb(239, 246, 255);
    --blue-100: rgb(219, 234, 254);
    --blue-300: rgb(147, 197, 253);
    --blue-400: rgb(96, 165, 250);
    --blue-950: rgb(23, 37, 84);

    --slate-100: rgb(241, 245, 249);
    --slate-200: rgb(226, 232, 240);
    --slate-300: rgb(203, 213, 225);
    --slate-400: rgb(148, 163, 184);
    --slate-400-50t: rgba(148, 163, 184, 0.5);
    --slate-500: rgb(100, 116, 139);
    --slate-600: rgb(71, 85, 105);
    --slate-700: rgb(51, 65, 85);
    --slate-800: rgb(30, 41, 59);
    --slate-900: rgb(15, 23, 42);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    min-height: 100vh;
    color: var(--slate-900);
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background: var(--blue-950);
  z-index: 3;
}

.nav-links {
  padding: 1rem 1.5rem 11px 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.nav-links a {
    color: var(--slate-200);
    text-decoration: none;
    font-weight: 600;
}

.nav-links a:hover {
  color: var(--sky-400);
}

a#flag {
  font-size: 1.5rem;
}

.progress-container {
  width: 100%;
  height: 8px;
  background-color: var(--blue-950);
}

.progress-bar {
  height: 8px;
  background-color: var(--sky-300);
  width: 0%;
}

header {
    padding: 1rem 1.5rem;
    background-image: linear-gradient(to bottom, var(--blue-950), white);
    overflow: hidden;
    color: white;
    position: relative;
}

h1 {
  line-height: 1.3;
  font-size: 36px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

span.h1-small {
  font-size: 1.5rem;
}

span.hand {
  display: inline-block;
  font-size: 2rem;
  animation: wave 2s ease-in-out;
  transform-origin: 70% 70%;
}

h2 {
  font-size: 1.75rem;
}

i {
  font-size: 3rem;
}

i.contact {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

a.btn {
  align-self: flex-start;
  display: flex;
  align-items: center;
  display: inline-block;
  padding: 12px 16px;
  background-color: var(--sky-500);
  color: var(--slate-100);
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out;
}

a.btn i {
  font-size: 1.5rem;
  margin-left: 4px;
}

a.btn:hover,
a.btn:focus {
    background-color: var(--sky-600);
}

span.emphasis {
  border-bottom: 0.5rem solid var(--sky-300);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 1rem 1.5rem;
  width: min(100%, 1200px);
}

section .content {
  padding: 1.5rem 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(100%, 1200px);
}

.hero img {
  min-width: 144px;
  max-width: 50%;
}

.hero .left {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}

#about p {
  font-size: 1.5rem;
}

.logos {
  overflow: hidden;
  padding: 1.5rem 0;
  white-space: nowrap;
  display: flex;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 2rem;
  height: 100%;
  content: '';
  z-index: 2;
}

.logos:before {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  left: 0;
}

.logos:after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  right: 0;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  flex-shrink: 0;
  min-width: 200%;
  animation: slide 60s linear infinite;
}

.logos-slide img {
  height: 2rem;
  margin: 0 1.5rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project {
  min-height: 50vh;
}

.project-image {
  position: relative;
  cursor: pointer;
}

.project-image img {
  display: block;
  width: 100%;
}

.icon-links {
  display: flex;
  gap: 2rem;
}

.icon-links a {
  color: var(--slate-900);
}

.project-links {
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--slate-400-50t);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.project-links.active {
  visibility: visible;
  opacity: 1;
}

.project-links a {
  font-size: 3.5rem;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.project .description {
  padding: 1rem 1rem;
  background-color: var(--blue-50);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.description p {
  padding: 1rem 0;
}

.description .tech-stack {
  display: flex;
  gap: 1rem;
}


/* Animations */


@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(20deg); }
  40% { transform: rotate(-15deg); }
  60% { transform: rotate(20deg); }
  80% { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
}


/* Media Queries */

@media (min-width: 480px) {
  h1 {
    font-size: 3.5rem;
  }

  .hero {
    gap: 1rem;
  }
}


@media (min-width: 768px) {

  body {
    font-size: 1.2rem;
  }

  header {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 5rem;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  section .content {
    padding: 2rem 0;
  }

  #about p {
    font-size: 2rem;
  }

  i {
    font-size: 4rem;
  }

  i.contact {
    font-size: 3rem;
  }

  .hero {
    width: 80%;
  }

  .hero img {
    max-width: 300px;
  }

  .logos-slide img {
    height: 3rem;
    margin: 0 2rem;
  }

  .projects {
    gap: 3rem;
  }

  .project {
    align-items: stretch;
    display: flex;
    min-height: unset;
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project-image {
    flex-shrink: 0;
  }

  .project-image img {
    max-width: 440px;
    max-height: 440px;
  }

  .project .description {
    padding: 1.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .project:nth-child(even) .description {
    flex-direction: row-reverse;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .tech-stack {
    margin-top: auto;
  }

}
